<html>
  <head>
    <style>
      .container { width: 800px; font-family: Arial, Helvetica, sans-serif; }
      span { margin: 10px 0; display: block; }
    </style>
  </head>
  <body>
    <div class="container">
      <span>Olá, {{name}}</span>

      <br />

      <span>Obrigado por se cadastrar no sistema de controle de estoque.</span>

      <span>Para poder utilizar o sistema você deve ativar sua conta clicando no link abaixo:</span>

      <a href="{{link}}">{{link}}</a>

      <span>Caso você não tenha se cadastrado, basta
        ignorar este e-mail.</span>

      <strong>Obrigado!</strong>

      <h3><strong>Jean Lima</strong></h3>
    </div>
  </body>
</html>